:root,
body[data-theme="light"] {
  --primary-50: #eff6ff;
  --primary-100: #dbeafe;
  --primary-300: #93c5fd;
  --primary-500: #3b82f6;
  --primary-600: #2563eb;
  --primary-700: #1d4ed8;

  --gray-50: #f9fafb;
  --gray-100: #f3f4f6;
  --gray-200: #e5e7eb;
  --gray-300: #d1d5db;
  --gray-500: #6b7280;
  --gray-700: #374151;
  --gray-900: #111827;

  --bg-primary: var(--gray-50);
  --bg-secondary: #ffffff;
  --text-primary: var(--gray-900);
  --text-secondary: var(--gray-500);
  --border-light: var(--gray-200);
  --accent: var(--primary-500);
  --scroll-bar: var(--primary-300);
  --scroll-bg: var(--gray-500);
}

[data-theme="dark"] {
  --bg-primary: #0f172a;
  --bg-secondary: #1e293b;
  --text-primary: #f1f5f9;
  --text-secondary: #cbd5e1;
  --border-light: #334155;
  --accent: var(--primary-400);
  --scroll-bar: var(--gray-500);
  --scroll-bg: var(--gray-300);
}
