.container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: var(--bg-secondary);
  border: 1px solid var(--border-light);
  color: var(--text-primary);
  padding: 15px;
  width: 70vw;
}
.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title h3,
h4 {
  margin-block-start: 0.1em;
  margin-block-end: 0.5em;
}
.name {
  color: var(--accent);
}
.owner {
  color: var(--text-secondary);
}

.description {
  max-width: 80%;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.8rem;
}

.topics {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 0.8rem;
}

.topics span {
  font-size: 0.85rem;
  background-color: var(--bg-secondary);
  color: var(--text-primary);
  padding: 4px 10px;
  border: 1px solid var(--border-light);
  border-radius: 10px;
}
